aclocal.m4
autom4te.cache
configure
config.guess
config.log
config.status
config.sub
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
*.pc
.deps
*.o
*.la
*.lo
.libs
tags
ChangeLog
src/ixion-parser
src/ixion-sorter
ixion-*.*.*.tar.gz
