aclocal.m4
autom4te.cache
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
*.pc
.deps
*.o
*.la
*.lo
*.cache
.libs
stamp-h1
tags
test-driver
ChangeLog
misc/libixion.spec
src/ixion-parser
src/ixion-parser.exe
src/ixion-sorter
src/ixion-sorter.exe
libixion-*.*.*.tar.*
